body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F5E6C4;
    overflow-x: hidden;
}

#mainheading {
    text-align: center;
}

#more {
    text-align: center;
}

.cool {
    text-align: center;
    text-decoration: underline;
}

#b1:hover {
    color: orange;
}

#b1 {
    color: black;
    text-decoration: none;
}

.blog {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
}

#proj {
    padding: 10px 0;
}

.about-me {
    padding: 30px 0;
}

footer {
    text-align: center;
    margin-top: 400px;
    padding:50px;
    padding-left: 40px;
    border-top: 2px dashed black;
    font-size: 14px;
    width: 100%;
    height: auto;
    font-size: 18px;

    background-image: url('sky.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.projs {
    display: flex;
    align-items: center;
    gap: 50px;
}

#icon1 {
    order: 1;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

#goat {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
} 

#pr1:hover #icon1{
    opacity: 1;
}